h1{
  margin: 0 auto;
}
fieldset{
  border: none;
  margin-bottom: 20px;
}
.contact-page-fieldset{
  width: 50%;
  margin: 0 auto;

}
.contact-page-form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contact-page-form input{
  height: 30px;
}
.contact-page-form textarea{
  height: 110px;
  /* text-align: center; */
  line-height: 100px;
  resize: none;
}
.contact-page-form textarea::placeholder{
  /* text-align: center; */
  vertical-align: middle;
}
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
}
@media (max-width:768px) {
  body{
    font-size: 16px;
  }
}
@media (max-width:680px) {
  body{
    font-size: 14px;
  }
}
@media (max-width:480px) {
  body{
    font-size: 10px;
  }
}
.fa-icon{
  font-size: 24px;
  letter-spacing: 5px;
}
.fa-whatsapp{
  color: green;
}
.fa-twitter{
  color: #1DA1F2 ;
}
.fa-linkedin{
  color: #0077B5;
}
.fa-envelope{
  color: #c71610;
}
.fa-phone{
  color: #A4C639;
}
.font-awesome-icons-div{
  margin: 5px 0;
}